#img-carregando{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

.pagination a{
    background-color: red;
}

#bnt-captch{
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -60px;
    margin-top: -50px;
    font-size: 22px;
    color: #fff;
    box-shadow: 0px 1px 10px 2px #000;
}

#img-captch{
    border: 3px solid gray;
}

.carregando{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    z-index: 2000;                
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.2);
}

.msg-modal{
    font-size: 16px;
}

#btn-sair{
    position: absolute;
    left: 100%;
    margin-left: -75px;  
    top: 20px;
    margin-left: -50px;  
    top: 24px;
    cursor: pointer;
    box-shadow: none;
}

.block{
    display: block;
}

.no-block{
    display: none; 
}

#rodape-tbl-custos{
    background-color: #222; 
    padding: 4px 0; 
    text-align: center; 
    font-size: 14pt; 
    font-weight: bold;
    color: #fff;
}

.abas{
    margin: 0px;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
}

.abas li{
    list-style: none;
    display: inline-block;
}

.abas li a{
    display: inline-block;
    padding: 8px 25px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
    color: #aaa;
    margin-left: -4px;
}

li.selecionada a, .abas li a:hover{
    border-bottom: 2px solid #3f51b5;
    color: #3f51b5;
    transition: all 1s;
}

.conteudo-abas div.opcao{
    display: none;
    padding-top: 20px;
}

.conteudo-abas div.ativo{
    display: block;
}

.opcao-laudo{
    display: none;
}

#arquivo-anexo{
    text-decoration: none;
    color: #333;
    font-size: 16pt;
    margin: 0 auto;
    position: relative;
    min-width: 200px;
    padding: 20px;
}

#arquivo-anexo:hover{
    background-color: #efefef;
}

#arquivo-anexo a{
    text-decoration: none;
    color: #222;
}

#arquivo-anexo i{
    color: #990033;
    font-size: 120px;
    display: inline-block;
}

label span{
    color: red;
}

.titulo-inicio-admin{
    color: #666666;
    font-weight: 100;
    text-align: center;
    padding: 80px 0 150px 0;
}
