
.autocomplete{
    width: calc(100% - 28px);
    border: 1px solid #3f51b5;
    position: absolute; 
    max-height: 200px;
    overflow: auto;
    z-index: 2;    
    background-color: #fff;
    display: none;
    border-radius: 3px;
}

.autocomplete table{
    width: 100%;
    padding-right: 12px;
}

.autocomplete thead th{
    padding: 4px 0px;
    background-color: #ccc;
    cursor: default;
}

.autocomplete td{
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.autocomplete tbody tr:hover{
    background-color: #1f91f3;
    color: #fff;
    cursor: default;
}

.autocomplete tbody td, .autocomplete th{
    padding: 3px 5px 3px 10px;
}

.preloader-input{
    position: relative;
    margin-top:-30px;
    margin-left: calc(100% - 30px);
    width: 26px;
}


